<form action="#" method="POST" >
  <table>
    <tr>
      <td><label>First Name</label></td>
      <td><input type="text" id="regFirstName"  placeholder="Name" required></td>
    </tr>
    <tr>
        <td><label>Last Name</label></td>
        <td><input type="text" id="regLastName"  required></td>
    </tr>
    <tr>
        <td><label>DoB</label></td>
        <td><input type="date" id="date"  required></td>
    </tr>
    <tr>
        <td><label>Gender</label></td>
        <td><input type="radio" id="male" name="gender"><label>Male</label>
        <input type="radio" id="male" name="gender"><label>Female</label></td>
    </tr>
    <tr>
        <td><label>Email</label></td>
        <td><input type="email" id="email"  required></td>
    </tr>
    <tr>
        <td><label>Password</label></td>
        <td><input type="password" id="password"  required></td>
    </tr>
    <tr>
        <td><label>Re-Password</label></td>
        <td><input type="password" id="rePassword"  required></td>
    </tr>
    <tr>
        <td><label>Address</label></td>
        <td><textarea type="text" id="address"  required></textarea></td>
    </tr>
    <tr>
        <td><label>Language</label></td>
        <td><input type="checkbox" id="Tamil" name="Tamil"><label>Tamil</label>
          <input type="checkbox" id="English" name="English"><label>English</label>
          <input type="checkbox" id="French" name="French"><label>French</label>
          <input type="checkbox" id="Hindi" name="Hindi"><label>Hindi</label>
        </td>
    </tr>
    <br/>
    <tr>
        <td>
            <input type="submit" id="regSubmit" value="SignUp">
          </td>
          <td>
            <input type="reset" id="regReset" value="Cancel">
          </td>
    </tr>
  </table>
</form>
